# PHP
/vendor/
/composer.phar
composer.lock

# Entorno / IDE
.env
/.idea/
/.vscode/
/*.code-workspace

# Sistema
.DS_Store
Thumbs.db

# Subidas (generados)
public/uploads/
public/assets/img/app-bg*.jpg
public/assets/img/app-bg*.png

# Cachés temporales
/tmp/
/cache/
/storage/
